{% extends 'base.html.twig' %}



{% block body %}
    <p>{{ 'message'|tr({ emailAddress: userAccount.emailAddress }) }}</p>

    <p><a href="{{ path('userProfile.show') }}">{{ 'profile'|tr }}</a></p>
{% endblock %}

