{% extends 'base.html.twig' %}



{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button class="btn btn-secondary">{{ 'submit'|tr }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
