{% extends 'Email/baseEmail.html.twig' %}



{% block body %}
    <h1>{{ 'email.passwordRecovery.greeting'|trans({ '%displayName%': userAccount.displayName }) }}</h1>

    <p>{{ 'email.passwordRecovery.content'|trans }}</p>

    <p><a href="{{ url('passwordRecovery.authenticate', { token: userAccount.token }) }}">{{ 'email.passwordRecovery.confirm'|trans }}</a></p>
{% endblock %}
